:root {
  --primary-color: rgba(0, 0, 0, 0.85);
  --secondary-color: rgba(255, 255, 255, 0.4);
  --gray: rgba(0, 0, 0, 0.4);
}

* {
  color: var(--primary-color);
  font-size: 18px;
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}
body {
  position: relative;
}

.mb-16 {
  margin-bottom: 16px;
}

section > * {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  width: 100%;
}

body,
.montserrat-normal {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat-medium {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.montserrat-semibold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body,
section {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

section {
  background: url("../images/background.png") no-repeat;
  background-size: 100% 100%;
  padding-left: 16px;
  padding-right: 16px;
  overflow: hidden;
}

.event-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  isolation: isolate;
  gap: 24px;
}

.circle-01 {
  position: absolute;
  z-index: -1;
  top: -39px;
  right: -321px;
  width: 570px;
  height: 570px;
  border-radius: 50%;
  border: 100px solid rgba(0, 0, 0, 0.2);
  opacity: 0.2;
}

.circle-02 {
  position: absolute;
  z-index: -1;
  top: 452px;
  left: -374px;
  width: 570px;
  height: 570px;
  border-radius: 50%;
  border: 100px solid rgba(0, 0, 0, 0.2);
  opacity: 0.2;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.logo img {
  width: 100%;
  height: 100%;
  max-width: 100px;
  max-height: 100px;
}

.logo span {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.form-container {
  padding: 40px 24px;
  max-width: 500px;
  width: 100%;
  border: 2px solid #fff;
  background: var(--secondary-color);
  border-radius: 24px;
}

.content-lower .input-wrapper {
  background: #fff;
  padding: 12px 16px;
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.content-lower span {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--primary-color);
}

.content-lower input {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  border: none;
  outline: none;
  color: var(--gray);
  margin-top: 6px;
  width: 100%;
}

.content-lower button {
  background: #2598f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 100%;
  border: 0;
  padding: 0;
  border-radius: 12px;
  margin-top: 16px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.content-lower button:hover {
  background: #145a93;
  cursor: pointer;
}

.content-lower .title {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.85);
  text-align: center;
  margin-bottom: 16px;
}

.content-upper {
  margin-bottom: 40px;
}

.content-upper .title {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  min-width: 145px;
  margin-bottom: 16px;
  text-align: center;
}

.content-upper .link-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.content-upper .link-wrapper a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: #fff;
  min-height: 48px;
  width: 100%;
  border-radius: 12px;
  border: 2px solid #2598f7;
}

.content-upper .link-wrapper span:last-child {
  width: 100%;
  max-width: 162px;
}

.content-upper .link-wrapper span:first-child {
  width: 100%;
  max-width: 24px;
}

.content-upper .link-wrapper img {
  width: 24px;
  height: 24px;
  display: block;
  margin-left: auto;
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .form-container {
    padding: 30px 16px;
  }

  section {
    background-size: cover;
    background-position: 100% 100%;
  }

  .circle-01,
  .circle-02 {
    display: none;
  }

  .content-lower button:hover {
    background: #2598f7;
  }
}
